*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

body{
	font-family: sans-serif;

}
.header{
	width: 100%;
	height: 60px;
	background-color: #000;
	position: fixed;

}
.header .logo{
	float: left;
	color: #fff;
	padding-top: 5px;
	padding-left: 20px;
	text-shadow: 3px 1px 5px #fff;
	font-size: 34px;
	font-weight: 800;
}


.header .Join-btn{
	float: right;
	margin-top: 7px;
	padding: 8px 20px 0px;
	margin-right: 20px;
	background-color: transparent;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;


}
.header .Join-btn:hover{
	box-shadow: 2px 0px 5px #fff;
	cursor: pointer;
}



/* Main*/
.Main{
	width: 100%;
	height: 600px;
	border-bottom: 1px solid #999;
	position: fixed;
}
.Main .Panel{
	float: left;
	position: relative;
	overflow-x: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	background-color: #fff;
	padding-top: 20px;
	text-align: center;
	border-right: 1px solid #999;
	transition: .5s;
}

.Main .Panel .group{
	font-size: 24px;
	font-family: sans-serif;
	color: #fff;
	background-color: #000;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	cursor: pointer;

}
.Main .Panel .People h2{
	font-family: sans-serif;
	font-size: 24px;
	color: #fff;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	background-color: #00fff3;
}
.Main .Panel .People div{
	width: 100%;
	height: 50px;
	font-size: 24px;
	font-family: sans-serif;
	color: #000;
	padding-top: 10px;

}
.Main .Panel .People div:hover{
	background-color: #00fff3;
	color: #fff;
	cursor: pointer;
}
.Main .Chat{
	float: right;
	width: calc(100% - 400px);
	height: 100%;


}
.Main .Chat .messages{
	width: 100%;
	height: calc(100% - 100px);
	overflow: auto;
	background-color: #fff;

}
.Main .Chat .messages .message{
	display: flex;
	padding: 10px;
}
.Main .Chat .messages .message p{
	padding: 10px;
	font-size: 18px;
	/*width: 160px;*/
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	border-radius: 3px;
}
.Main .Chat .messages .message p b {
    font-style: italic;
    color: darkgray;
}
.Main .Chat .messages .message.my-message{
	justify-content: flex-end;
}
.Main .Chat .messages .message.my-message p{
	background-color: #000;
	color: #fff;
}
.Main .Chat .messages .message.other-message{
	justify-content: flex-start;
}
.Main .Chat .messages .message.other-message p{
	background-color: #eff5f5;
	color: #000;
}
.Main .Chat .TxTool{
	width: 100%;
	height: 100px;
	box-shadow: 2px 0 5px #000;
}
.Main .Chat .TxTool textarea{
	width: calc(100% - 225px);
	margin-left: 80px;
	margin-top: 10px;
	height: 80px;
	outline: none;
	resize: none;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 18px;
	font-family: sans-serif;;
	padding: 10px;
}


.Send-btn{
	width: 80px;
	height: 40px;
	border:none;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	border-radius: 3px;
	margin-right: 50px;
	float: right;
	margin-top: 40px;
}
.Send-btn:hover{
	box-shadow: 2px 0 3px #777;
}

/* RESPONSIVE*/
/* Large device */
@media screen and (max-width: 802px){
	.Main .Panel{
		display: none;
	}
	.header .menu{
		display: block;
	}
	.Main .Chat .menu{
		display: block;
	}
	.Main .Chat{
		width: 100%;
		height: 910px;
	}
	.Main .Chat .TxTool textarea{
		width: calc(100% - 160px);
    	margin-left: 20px;
	}
}
@media screen and (max-width: 800px){
	.Main .Chat {
    height: 92vh;
    display: block;
}
}
/* Extra large devices */
@media screen and (max-width: 2000px){
	.Main {
    width: 100%;
    height: 92vh;
}
}
@media screen and (max-width: 400px){
	.Main .Chat{
		height: 610px;
		width: 100%;
	}
	.Main .Chat .TxTool textarea{
			height: 60px;
	}
	.Send-btn{
		margin-top: 20px;
		margin-right: 40px;
	}
}
/* Moto G4,Galaxy S4,Pexel 2,Pexel 2 XL,iPhone 5/SE,iPhone 6/7/8,iPhone 6/7/8 +(plus),iPhone X,Surface Duo,Galaxy Fold */
@media screen and (max-width: 600px){
	.Main .Chat{
		height: 92vh;
		width: 100%;
	}
}/* iPad,iPad Pro,Nest Hub,Nest Hub Max*/

@media screen and (max-width: 1280px){
	.Main{
		height: 91vh;
	}
}
/*
@media screen and (max-width: 1024px){
	.Main{
		height: 542px;
	}
}


@media screen and (max-width: 320px){
	.Main .Chat{
		height: 510px;
	}
}

	
@media screen and (max-width: 600px){
	.Main .Chat{
		height: 660px;
		width: 100%;
	}
}
*/